.hero {
	width: 100%;
	height: 100vh;
	/* background: url('../../img/weddingcouple.jpg') center no-repeat; */
	background: linear-gradient(
			rgba(255, 248, 249, 0.3),
			rgba(255, 255, 255, 0.1)
		),
		url(../../img/weddingcouple.jpg) center/cover no-repeat;
	background-size: cover;
}

.hero::after {
	/* content: ''; */
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}

.headline-container {
	padding-top: 24vh;
	padding-left: 50vw;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	text-align: center;
	color: #000;
}

.headline-container h1,
.headline-container h2,
.headline-container h3 {
	padding: 0.5rem 0;
}

.headline {
	font-family: var(--secondary-font);
	font-size: 5.2rem;
	letter-spacing: 0.62rem;
}

.sub-headline-text {
	font-size: 1.6rem;
	letter-spacing: 0.18rem;
	font-weight: 300;
	font-style: italic;
}

.sub-headline-date {
	font-size: 2.8rem;
	letter-spacing: 0.28rem;
}

/* our story section */

.our-story-container {
	width: 62%;
	margin: 0 auto;
	text-align: center;
}

.section-headline {
	font-family: 'Parisienne', cursive;
	font-size: 5.2rem;
	letter-spacing: 0.22rem;
}

.pattern-divider {
	max-width: 15rem;
}

.section-text {
	padding: 2.4rem 0;
}

.section-subheadline {
	padding: 4.8rem 0;
}

/* timeline */

.timeline {
	background-color: var(--light-bg-color);
}

.timeline-container {
	margin: 0 auto;
	text-align: center;
}

.timeline-couple {
	max-width: 50%;
	display: block;
	margin: 0 auto;
	padding: 2.4rem 0;
}

.timeline-flex-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.timeline-flex-row {
	display: flex;
	/* flex-direction: column; */
	width: 100%;
}

.timeline-flex-column {
	width: 50%;
	/* border: solid 1px red;: solid 1px blue; */
}

.timeline-flex-column h3,
.timeline-flex-column h4,
.timeline-flex-column p,
.timeline-marriage-container h3,
.timeline-marriage-container h4,
.timeline-marriage p {
	padding: 0.5rem 0;
}

.timeline-column-left {
	text-align: right;
	padding: 2.4rem;
}

.timeline-column-right {
	border-left: solid 1px var(--main-font-color-dark);
	padding: 2.4rem;
	text-align: left;
}

.timeline-sub-heading {
	font-family: 'Parisienne', cursive;
	font-size: 3.2rem;
	letter-spacing: 0.16rem;
}

.timeline-sub-heading-img {
	width: 40px;
}

.timeline-date {
	font-size: 1.6rem;
	font-weight: 400;
	font-style: italic;
}

.timeline-text {
	line-height: 2.56rem;
}

.timeline-marriage-rings {
	width: 60px;
}

/* events */
.events-container {
	margin: 0 auto;
	text-align: center;
}

.events-date-location-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 2.4rem;
}

.events-date-location-col {
	width: 33%;
}

.events-sub-heading {
	font-family: 'Parisienne', cursive;
	font-size: 5.6rem;
	letter-spacing: 0.28rem;
}

.events-cake {
	max-width: 25%;
}

.events-date-location-col h3,
.events-date-location-col h4 {
	padding: 1rem;
}

.events-text {
	font-size: 1.6rem;
	font-weight: 400;
	font-style: italic;
}

.wedding-events-sub-heading {
	font-family: 'Parisienne', cursive;
	font-size: 3.6rem;
	letter-spacing: 0.18rem;
	padding-top: 15rem;
}

.wedding-events-container {
	display: flex;
	padding-top: 2.4rem;
}

.wedding-events-col {
	padding: 2.4rem;
}

.wedding-events-title {
	font-family: 'Parisienne', cursive;
	font-size: 2.8rem;
	letter-spacing: 0.14rem;
	padding: 2.4rem 0;
}

/* invitation */
.invitation {
	background: url('../../img/floral_bg.png') repeat;
}
.invitation-container {
	width: 55%;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	padding: 4.8rem 2.4rem;
}

.guest-details-row {
	display: flex;
	justify-content: space-between;
	padding: 1.2rem 0;
}

.guest-details-col {
	text-align: left;
	padding: 0 4.8rem;
	width: 50%;
}

.guest-meal-row {
	padding: 0 4.8rem;
}

.invitation-form-label-block {
	display: block;
	padding: 0.25rem 0;
}

.invitation-form-input-fullwidth {
	padding: 1rem;
	width: 100%;
}

.events-checkbox {
	padding: 0.25rem 0;
}

.guest-details-checkbox-col {
	text-align: left;
}

.guest-details-checkbox-col label {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
}

.guest-details-checkbox-col input {
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}

.radio-label {
	padding: 1rem;
}

.guest-meal-textarea {
	padding: 2.4rem 4.8rem;
}

.textarea-box {
	width: 100%;
	height: 12rem;
	margin: 1.2rem 0;
}

.invitation-form-submit {
	padding: 0 4.8rem;
}

.confirm-btn {
	width: 100%;
	padding: 2.4rem 4.8rem;
	background-color: var(--main-font-color-dark);
	color: #fff;
	border: none;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.18rem;
}

/* wedding video */
.wedding-video-mp4 {
	width: 100%;
}

/* gallery */
.gallery-container {
	margin: 0 auto;
	text-align: center;
}

.gallery-grid-row {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 2.4rem;
}

.gallery-grid-column {
	flex: 31%;
}

.gallery-img {
	vertical-align: middle;
	width: 100%;
	padding: 1.2rem 0;
}

/* registry */
.registry {
	background-color: var(--light-bg-color);
}
.registry-container {
	margin: 0 auto;
	text-align: center;
}

.registry-container p {
	width: 62%;
	margin: 0 auto;
	text-align: center;
	line-height: 2.56rem;
}

.registry-logo-container {
	display: flex;
	flex-wrap: wrap;
}

.registry-logo-col {
	width: 25%;
	padding: 2.4rem;
}
