/* desktop version */
@media screen and (min-width: 900px) {
	section {
		padding: 7.9rem;
	}

	.menu-toggle {
		display: none;
	}

	.nav-list {
		margin-left: 4rem;
		position: initial;
		width: initial;
		height: initial;
		background-color: transparent;
		padding: 0;
		justify-content: initial;
		flex-direction: row;
		transform: initial;
		transition: initial;
	}

	.nav-item {
		margin: 0 1.4rem;
		border: none;
	}

	.nav-link {
		font-size: 1.6rem;
	}
}

/* mobile version */
@media screen and (max-width: 899px) {
	/* gallery */
	.gallery-grid-column {
		flex: 100%;
	}
}
