:root {
	--main-font: 'Poppins', sans-serif;
	--secondary-font: 'Parisienne', cursive;
	--body-font: 'Poppins', sans-serif;
	--main-font-color-dark: #70554e;
	--secondary-font-color: #000;
	--body-font-color: #70554e;
	--light-bg-color: #ebdcd7;
}
